
.header{
    padding : 60px 30px 60px 30px;
    margin: auto;
    max-width: 760px;
}



.header_intro{
    padding: 10px;
    margin-right: 0px;
    color: #052D3F;

}

.header_title {
    
    font-family: "Leitura News Roman 4";
    font-weight: bolder;
}


.header_bio{
    font-style: "arial";
    margin:0;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 600;
    letter-spacing: 2px;
}
.contact_mail {
    font-family: "Inconsolata","Consolas",monospace;
    margin: 8px 0 8px 0;
    word-spacing: -2px;
}

.box{ 
width: 200px ;
height: 200px; 
} 


.header_icons{
    padding: 0;
}



.other_contacts{
    font-size: 20px;
    margin: 5px;
    color: black;
}

.nav_btn{
    color: black;
    padding: 5px;

}


@media (max-width: 575px) {
    
.header{
    padding : 20px;
    margin: auto;
    max-width: 760px;
}
}

.fa-github-alt:hover, .fa-instagram:hover, .fa-linkedin-in:hover, .fa-whatsapp:hover, .fa-file-alt:hover{
    color:rgb(37, 37, 95) !important;
}


/* modified for of hover.css */

/* Grow */
.hvr-grow-mdf {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow-mdf:hover, .hvr-grow-mdf:focus, .hvr-grow-mdf:active {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }