
/* Header CSS*/
.header {
    padding : 60px 30px 60px 30px;
    margin: auto;
    max-width: 760px;
}

.header_intro {
    padding: 10px;
    margin-right: 0px;
    color: #052d3f;

}

.header_title {
    
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
}

.header_bio {
    font-family: Arial;
    margin:0;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 600;
    letter-spacing: 2px;
}

.contact_mail {
    font-family: "Inconsolata","Consolas",monospace;
    margin: 8px 0 8px 0;
    word-spacing: -2px;
}

.box { 
    width: 200px ;
    height: 200px; 
} 

.header_icons {
    padding: 0;
}

.other_contacts {
    font-size: 20px;
    margin: 5px;
    color: black;
}

.nav_btn {
    color: black;
    padding: 5px;

}

@media (max-width: 575px) {
    
    .header {
        padding : 20px;
        margin: auto;
        max-width: 760px;
    }
}

.txt_hvr:hover {
    color: rgb(143, 143, 143) !important;
}

.txt_hvr_dark:hover {
    color: rgb(61, 61, 61) !important;
    text-decoration: none;
    font-weight: 600;
}

.fa-github-alt:hover {
    color:rgb(5, 5, 5) !important;
}

.fa-instagram:hover {
    color: #d84339 !important;
}

.fa-linkedin-in:hover {
    color: rgb(14, 118, 168) !important;
}

.fa-whatsapp:hover {
    color: #4fce5d !important;
}

.fa-facebook-square:hover {
    color: #3b5998 !important;
}

.fa-twitter:hover {
    color: #00acee !important;
}

/* About Section CSS*/
.intro {
    padding : 20px 30px 20px 30px;
    margin: auto;
    max-width: 760px;
}

/* Skills Section */
.skills{
    padding : 20px 30px 20px 30px;
    margin: auto;
    max-width: 760px;
}

/* Photography Section CSS */
.photography{
    padding : 20px 30px 20px 30px;
    margin: auto;
    max-width: 760px;
}

.carousel{
    padding : 20px 30px 20px 30px;
    margin: auto;
    max-width: 660px;
}
@media (max-width: 575px) {
    
    .carousel {
        padding: 0px;
        margin: auto;
        max-width: 660px;
    }
}

/* Contact CSS */
.contact{
    padding : 20px 30px 20px 30px;
    margin: auto;
    max-width: 760px;
}

.contact_info_logo{
    padding: 5px 8px 0 0;
}

/* Footer CSS*/
.footer{
    padding : 20px 30px 20px 30px;
    margin: auto;
    max-width: 760px;
}